{% extends "skeleton.html" %}

{% block title %}Les bugs de R-Link{% endblock %}
{% block subtitle %}Présentation du site{% endblock %}

{% block content %}
<div class="doublebutton">
<span class="button"><a href="/rlink">R-Link ?</a></span><span class="button"><a href="/bugs">Liste des bugs</a></span>
</div>
<p>Ce site a pour objectif de référencer les bugs de l'équipement R-Link, qui équipe certaines voitures récentes du constructeur Renault. C'est une tablette multimédia qui prend la place de l'autoradio, en proposant également des fonctionnalités de GPS ou certains aspects de la gestion de la voiture.</p>
<h2>Pourquoi ?</h2>
<p>Certaines personnes ont tenté de remonté ces bugs auprès de Renault, mais sans succès. Une tentative de remontée plus "solide" sera effectuée en se basant sur les informations contenues dans ce site.</p>
<h2>Comment participer ?</h2>
<p>Afin de valider la réalité d'un bug, il est préférable de le faire confirmer par plusieurs personnes et en précisant si possible la version du logiciel. Ce site vous propose des marches à suivre afin de tester ces bugs sur votre voiture ou de proposer un nouveau bug s'il n'existe pas.</p>
<p>Afin de recueillir des données de qualité, toute information transmise est validée par un être humain avant d'être intégrée dans la base de données. N'ayez crainte, si votre retour n'est pas pris en compte immédiatement, ça devrait venir dans les jours suivants&nbsp;!</p>
<p>Pour accéder à la liste des bugs, cliquez sur le bouton <a href="/bugs">liste des bugs</a> ci-dessus.</p>
<h2>Que va-t-on en faire&nbsp;?</h2>
<p>Lorsqu'un nombre conséquent de retours aura été obtenu (la limite en terme de nombre ou de date n'a pas encore été fixée), nous ferons une compilation des informations pour lesquelles vous aurez contribué, celle-ci sera transmise à Renault.</p>
<h2>L'ACOZE</h2>
<p>Ce site web est à l'initiative de l'ACOZE&nbsp;: l'<b>A</b>ssociation des <b>Co</b>nducteurs d'automobiles <b>z</b>éro <b>é</b>missions. La tablette R-Link a été introduite pour la première fois sur Renault ZOE, la voiture électrique «&nbsp;phare&nbsp;» de Renault, fournie de série, c'est pourquoi cet appareil pose surtout problème sur ces véhicules. La ZOE est l'un des véhicules les plus représentés au sein des membres de l'ACOZE.</p>
<p style="text-align: center;"><img src="static/logo_acoze_white_petit.jpg" alt="logo ACOZE"></p>
{% endblock %}

