{% extends "skeleton.html" %}

{% block title %}R-Link{% endblock %}
{% block subtitle %}Présentation de R-Link{% endblock %}

{% block content %}
<div class="uniquebutton">
<span class="button"><span class="button"><a href="/bugs">Liste des bugs</a></span>
</div>
<p>R-Link est une tablette multimédia intégrée à la plupart des véhicules récents fabriqués par le constructeur français Renault, parfois de série et parfois en option.</p>
<p>Cet appareil est développé par TomTom.</p>
<p>Voici quelques liens à propos de R-Link&nbsp;:</p>
<ul>
<li><a href="https://fr.wikipedia.org/wiki/Renault_R-Link">Article Wikipédia</a></li>
</ul>
<h2>Le problème</h2>
<p>Bien que partant d'une idée séduisante, cet appareil ne va pas au bout des choses et les acheteurs se retrouvent avec un environnement logiciel et matériel limité et truffé de bugs.<p>
<p>Suite à une tentative de remontée de bug auprès de Renault, de nombreux utilisateurs ont constaté l'incapacité de Renault à gérer ces remontées, à l'image de ce que ferait une société de développement logiciel.</p>
<p>Ce site a pour vocation de recenser les bugs rencontrés afin de les faire soumettre officiellement à Renault, la méthode précise n'étant pas encore définie.</p>
{% endblock %}
